{{!< default}}
{{> site_head}}

<main class="content river" role="main">

	<p class="section-title">Read this first</p>

	{{#foreach posts}}
		{{> article}}

		{{#if @first}}
			<p class="section-title">More from {{author.name}}</p>
		{{/if}}

	{{/foreach}}

	{{pagination}}

</main>
