{{!< default}}
{{> site_head}}

<main class="content" role="main">
	<header class="tag-archive-header">
		<h1><span class="icon icon-tag"></span> #{{tag.name}}</h1>
	</header>

	{{#foreach posts}}
		{{> article}}
	{{/foreach}}

	{{pagination}}

</main>
